@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  /* font-family: "inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "inter";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #f3d9d2; */
  background: var(--secondary-color);
  background-image: url("./assets/img/noise_white.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* --cell-height: 24px; */
  /* --primary-color: #2e4af3; */
  --primary-color: #f4f4f3;
  --secondary-color: #262626;
  /* --background-color: #f3d9d2; */
  --background-color: #144445;
  --buttton-background-color: #d69f95;
  --cell-height: 40px;
  /* --color-taskDuration-left: #d69f95;
  --color-taskDuration-right: #ebf4f5; */
  --color-taskDuration-left: #f4f4f3;
  --color-taskDuration-right: #b3b3b3;
  /* --color-taskDuration: rgb(15, 56, 56, 0.9); */
  --color-taskDuration: #f4f4f3;
  --color-tertiary: #ececec;
  --color-outline: white;
  --color-SeparationLine: #808080;
  --color-Divider: #f2d4cc;
  --color-Gantt-Outline: #fefcfc;
  --color-Tasks-Border-Bottom: #fefcfc;
  --color-TimeTable-Border: #f4f4f3;
  /* --color-TimeTable-TaskRow-BorderRight: #fefcfc; */
  /* --color-Holiday: #f0d2ca; */
  /* --color-Holiday: rgb(15, 56, 56, 0.3); */
  --color-Holiday: #b3b3b3;
  --border-radius: 5px;
  /* --width-Days: 60px; */
  --width-Days: 30px;
  --width-drawerWidth: 350px;
}

.MuiButton-containedPrimary .Mui-active {
  color: #d69f95;
}

.MuiBox-root {
  background: var(--secondary-color);
  background-image: url("./assets/img/noise_white.png");
}

/* .MuiBox-root .css-izdrea {
  background: var(--secondary-color);
  background-image: url("./assets/img/noise_white.png");
}

.MuiBox-root .css-1omejne {
  background: var(--secondary-color);
  background-image: url("./assets/img/noise_white.png");
} */

/* width */
/* ::-webkit-scrollbar {
  width: 5px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f3d9d2;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: rgba(46, 74, 243, 0.7);
  border-radius: 2.5px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: rgba(46, 74, 243, 0.9);
} */

/* .taskRow:after:hover {
  background: rgb(255, 255, 255, 0.5) !important;
  position: relative;
  z-index: 30000;
} */

.MuiBox-root .css-1k43qvq text {
  color: var(--primary-color);
}

.custom-range-picker .anticon.anticon-swap-right {
  color: var(--secondary-color);
}

h1 {
  margin: 10px 0px 5px;
  font-weight: 900;
}

h2 {
  margin: 10px 0px 5px;
  font-weight: bold;
}

.textEditor p {
  line-height: 30px;
  /* line-height: 1.9rem; */
  /* margin: 2.5px 0px; */
  margin-top: 1.5em;
}

img {
  width: 100%;
  max-width: 800px;
}

a {
  color: var(--primary-color);
}

ul {
  margin-left: 20px;
}

ol {
  margin-left: 20px;
}

/* @media (min-width: 1300) and (max-width: 1023px)  {

} */

/* @media (min-width: 1300) and (max-width: 2000) {
  img {
    width: 80%;
  }
} */
