* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3d9d2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* --cell-height: 24px; */
  --primary-color: #2e4af3;
  --background-color: #f3d9d2;
  --cell-height: 40px;
  --color-taskDuration-left: #2e4af3;
  --color-taskDuration-right: #ebf4f5;
  --color-tertiary: #ececec;
  --color-outline: white;
  --color-SeparationLine: #808080;
  --color-Divider: #f2d4cc;
  --color-Gantt-Outline: #fefcfc;
  --color-Tasks-Border-Bottom: #fefcfc;
  --color-TimeTable-Border: #fefcfc;
  /* --color-TimeTable-TaskRow-BorderRight: #fefcfc; */
  /* --color-Holiday: #f0d2ca; */
  --color-Holiday: rgb(240, 210, 202, 0.7);
  --border-radius: 5px;
  /* --width-Days: 60px; */
  --width-Days: 30px;
  --width-drawerWidth: 350px;

  /* --text-color: #808080;
  --primary-color: #19d8d3;
  --secondary-color: #32ebe7;
  --third-color: #3f3a3a;
  --dark-color: #44aaa7;
  --background-color: #f2f2f2;
  --section-background-color: #ececec;
  --map-background-color: #f7f7f7;
  --alert-background-color: #e1fffe;
  --complementary-color: #d8191e; */
  /* --text-size-h1: 2.3rem;
  --text-size-h1-1: 2rem;
  --text-size-h1-2: 1.5rem;
  --text-size-h2: 1.3rem;
  --text-size-h2-1: 1.2rem;
  --text-size-h3: 1rem;
  --text-size-h3-1: 0.9rem;
  --text-size-h4: 0.8rem; */
}

/* width */
/* ::-webkit-scrollbar {
  width: 5px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f3d9d2;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: rgba(46, 74, 243, 0.7);
  border-radius: 2.5px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: rgba(46, 74, 243, 0.9);
} */

/* .taskRow:after:hover {
  background: rgb(255, 255, 255, 0.5) !important;
  position: relative;
  z-index: 30000;
} */

h1 {
  margin: 10px 0px 5px;
  font-weight: 900;
}

h2 {
  margin: 10px 0px 5px;
  font-weight: bold;
}

p {
  line-height: 22px;
  margin: 2.5px 0px;
}

img {
  width: 100%;
  max-width: 800px;
}

a {
  /* color: #f3304d; */
  color: var(--primary-color);
  /* background-image: linear-gradient(
    90deg,
    var(--color-taskDuration-left) 10%,
    var(--color-taskDuration-right) 50%,
    var(--color-taskDuration-left) 100%
  );
  color: rgb(137, 218, 227);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-box-decoration-break: clone; */
}

/* @media (min-width: 1300) and (max-width: 1023px)  {

} */

/* @media (min-width: 1300) and (max-width: 2000) {
  img {
    width: 80%;
  }
} */
